name: Run Proxy Fetch Every 30 Minutes

env:
  geonode_url: https://proxylist.geonode.com/api/proxy-list?limit=500&page=1&sort_by=lastChecked&sort_type=desc
  proxy_list_url: https://www.proxy-list.download/api/v1/get?type=

# 触发工作流的条件
on:
  schedule:
    - cron: "*/30 * * * *" # 每 30 分钟触发一次
  workflow_dispatch: # 允许手动触发工作流

jobs:
  run-fetch:
    runs-on: ubuntu-latest # 选择运行环境

    permissions:
      contents: write # 赋予内容（提交、推送）的写入权限

    steps:
      # 第一步：签出仓库代码
      - name: Check out code
        uses: actions/checkout@v3 # 获取仓库中的代码

      # 第二步：设置 Python 环境
      - name: Set up Python environment
        uses: actions/setup-python@v4
        with:
          python-version: "3.x" # 使用最新版本的 Python

      # 第三步：安装项目依赖
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip  # 升级 pip
          pip install -r requirements.txt  # 安装 requirements.txt 中列出的依赖

      # 第四步：运行你的 Python 脚本
      - name: Run fetch script
        run: python3 main.py # 运行 main.py 作为入口脚本

      # 设置 Git 提交者身份
      - name: Set up git config
        run: |
          git config --global user.email "mazezen24@gmail.com"
          git config --global user.name "mazezen"

      # 第五步：如果有数据更新，提交并推送更改
      - name: Commit and push if new data
        run: |
          git add .
          git commit -m "Update proxy data" || echo "No changes to commit"  # 如果没有更改，跳过提交
          git push  # 推送更新
